<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col">
          <ul class="contact-list">
            <li>
                <a href="/contact">
                    Contact
                </a>
            </li>
            <li>
                <a href="https://github.com/tanby-dynamics" target="_blank">
                    GitHub
                </a>
            </li>
          </ul>
        </div>
        <div class="footer-col">
            Hardware design, embedded development, and software integration
        </div>
      </div>

    </div>  
  </footer>