<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col">
          <ul class="contact-list">
            <li>
                <a href="mailto:me@becdetat.com">
                    me@becdetat.com
                </a>
            </li>
            <li>
                <a href="https://tech.lgbt/@becdetat" target="_blank">
                    @becdetat@tech.lgbt
                </a>
            </li>
            <li>
                <a href="https://github.com/tanby-dynamics" target="_blank">
                    GitHub
                </a>
            </li>
          </ul>
        </div>
        <div class="footer-col">
            Hardware design, embedded development, and software integration
        </div>
      </div>

    </div>  
  </footer>